---
layout: default
---

<p>A: test</p>
{% assign random_image = nil %}
{% if page.header.overlay_image_directory %}
  <p>B: {{ page.header.overlay_image_directory }}</p>
  {% assign directory = page.header.overlay_image_directory | prepend: site.baseurl %}
  <p>C: {{ directory }}</p>
  {% assign header_images = site.static_files | where_exp: "file", "file.path contains directory" %}
  <p>D: {{ header_images }}</p>
  {% if header_images.size > 0 %}
    {% assign random_image = header_images | sample %}
    <p>E: {{ random_image }}</p>
  {% endif %}
{% endif %}

<p>site.static_files:</p>
{{ site.static_files | inspect }}

{% if random_image %}
  {% assign page.header.overlay_image = random_image %}
  {% include page__hero.html %}
{% elsif page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 id="page-title" class="page__title">{{ page.title }}</h1>
    {% endunless %}
    {{ content }}
  </div>
</div>
